<!doctype html>
<html class="no-js" lang="utf-8">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="keywords" content="python, r, database, hadoop">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>文章列表</title>
		<!-- 网站Logo -->
        <link rel="shortcut icon" href="/static_files/img/favicon.ico" >
		<!-- css加载 -->
        <link rel="stylesheet" href="/static_files/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static_files/css/theme-plugins.css">
		<link rel="stylesheet" href="/static_files/css/style.css">
		<link rel="stylesheet" href="/static_files/css/responsive.css">
        <style>
            /*对当前页的active进行高亮显示*/
            .active {
                background-color: #01a0b5;
            }
        </style>

        <!-- js加载 -->
        <script src="/static_files/js/js_file/vue-2.5.16.js"></script>
        <script src="/static_files/js/js_file/axios-0.18.0.min.js"></script>
        <script src="/static_files/js/js_file/bootstrap.min.js"></script>
        <script src="/static_files/js/js_file/jquery-2.2.1.min.js"></script>
        <script src="/static_files/js/js_file/plugins.js"></script>
        <script src="/static_files/js/js_file/main.js"></script>
    </head>
    <body>

        <!-- 进入页面前显示一段loading -->
		<div class="preloader-wrap">
			<div class="cube-wrapper">
				<div class="cube-folding">
					<span class="leaf1"></span>
					<span class="leaf2"></span>
					<span class="leaf3"></span>
					<span class="leaf4"></span>
				</div>
				<span class="loading" data-name="Loading">Loading</span>
			</div>
		</div>

		<!-- 整个页面的开始 -->
		<div class="wrapper">
			<!-- 顶部 -->
			<header class="header-area primary-header">

				<!-- 导航栏上面 -->
				<!--<div class="header-middle-area">-->
					<!--<div class="container">-->
						<!--<div class="row">-->
							<!--<div class="col-md-4">-->
								<!--<div class="site-branding">-->
									<!--<a href="/"><img src="/static_files/img/logo.png" alt="Logo"></a>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="col-md-5">-->
								<!--<div class="header-middle-contact">-->
									<!--<a href=""><i class="icofont-telephone"></i>123 456 5678</a>-->
									<!--<a href="mailto:"><i class="icofont-envelope"></i>123456@qq.com</a>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="col-md-3">-->
								<!--<div class="quote-middle">-->
									<!--<a href="/oauth/login/" class="theme-btn btn-style-order-nav">登录</a>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->

				<!-- 导航栏 -->
				<div class="navigation-area">
					<div class="container">
						<div class="row">
							<div class="col-4 col-md-10 order-two">
								<!-- Start Digitalizer Nav -->
								<div class="main-menu-wrap">
									<nav class="digitalizer-nav">
										<ul class="menu">
											<li class="has-dropdown"><a href="/">首页</a>
												<ul><!-- Dropdown Items -->
													<li><a href="index.html">Home Version One</a></li>
												</ul>
											</li>
											<li class="has-dropdown"><a href="#">技术分享</a>
												<ul><!-- Dropdown Items -->
													<li><a href="about.html">About Us One</a></li>
													<li><a href="about-2.html">About Us Two</a></li>
													<li class="has-dropdown"><a href="#">Services</a>
														<ul><!-- Dropdown Items -->
															<li><a href="service-one.html">Service Verion One</a> </li>
															<li><a href="service-two.html">Service Verion Two</a> </li>
														</ul>
													</li>
													<li><a href="team.html">Team</a></li>
													<li><a href="team-2.html">Team Two</a></li>
												</ul>
											</li>
											<li class="has-dropdown"><a href="#">前端开发</a>
												<ul><!-- Dropdown Items -->
													<li><a href="service-one.html">Service One</a></li>
													<li><a href="service-two.html">Service Two</a></li>
													<li class="has-dropdown"><a href="#">Project</a>
														<ul><!-- Dropdown Items -->
															<li><a href="project-1.html">Project One</a></li>
															<li><a href="project-2.html">Project Two</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="has-dropdown"><a href="#">后台开发</a>
												<!-- Start Mega Menu -->
												<ul class="mega-menu three-column mega-center">
													<!-- Start Mega Column -->
													<li class="mega-col"><span class="title">Mega Menu Title</span>
														<ul><!-- Mega Menu Items -->
															<li><a href="#">Accordions</a></li>
															<li><a href="#">Alarts</a></li>
														</ul>
													</li>
													<!-- End Mega Column -->
													<!-- Start Mega Column -->
													<li class="mega-col"><span class="title">Mega Menu Title</span>
														<ul><!-- Mega Menu Items -->
															<li><a href="#">Lists</a></li>
															<li><a href="#">Image Container</a></li>
															<li><a href="#">Modals</a></li>
														</ul>
													</li>
													<!-- End Mega Column -->
													<!-- Start Mega Column -->
													<li class="mega-col"><span class="title">Mega Menu Title</span>
														<ul><!-- Mega Menu Items -->
															<li><a href="#">Social Buttons</a></li>
															<li><a href="#">Tabs</a></li>
															<li><a href="#">Tables</a></li>
														</ul>
													</li>
													<!-- End Mega Column -->
												</ul>
												<!-- End Mega Menu -->
											</li>
											<li ><a href="contact.html">关于</a></li>
										</ul>
									</nav>
								</div>
								<!-- End Digitalizer Nav -->
								<!-- Mobile Menu Active here. Don't Remove it -->
								<div class="mobile-menu-area"></div>
							</div>

							<div class="col-8 col-md-2 order-one">
								<!-- Start Header Search -->
								<div class="header-search">
									<form role="search" method="get" class="search-form" action="#">
										<label>
											<input type="search" class="search-field" placeholder="Search …" value="" name="s">
										</label>
										<input type="submit" class="search-submit" value="Search">
									</form>
								</div>
								<!-- End Header Search -->
							</div>
						</div>
					</div>
				</div>
			</header>

			<!-- 页面头部标语 -->
			<div class="banner-area text-center overlay-bg-5">
					<div class="container">
						<div class="row">
							<div class="col">
								<!-- Start Banner Content -->
								<div class="banner-content">
									<!-- Page Title -->
									<h2 class="uppercase">Latest News</h2>
									<p class="m-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
								</div>
								<!-- End Banner Content -->
							</div>
						</div>
					</div>
				</div>

			<!-- 主要内容 -->
			<!--定义app容器，v-cloak 这个指令是防止页面加载时出现 vuejs 的变量名-->
            <div id="app" v-cloak>

				<!-- 面包宵导航 -->
				<div class="bradcumb-area">
					<div class="container">
						<div class="row">
							<div class="col">
								<!-- Start Breadcrumb -->
								<ul class="breadcrumbs list-inline">
									<li><a href="/">首页</a><i class="icofont-double-right"></i></li>
									<!-- 通过vue中的compute值先计算出一个对象,然后在html中取出值,还可以进行拼接字符串操作 -->
									<li><% category_tmp.category.name + '文章列表' %></li>
								</ul>
								<!-- End Breadcrumb -->
							</div>
						</div>
					</div>
				</div>

				<!-- Start Site Content  -->
				<div class="site-content ptb-110">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-7 col-md-9">
								<div id="primary" class="content-area" >
									<!-- 文章列表 -->
									<div class="single-news-wrap" v-for="art in article_list.results">
										<!-- 文章图片 -->
										<!--<div class="post-thumbnail">	-->
											<!--<img src="/static_files/img/post/pst-list-1.jpg" alt="" style="width: 500px;height: 250px;">-->
										<!--</div>-->
										<!-- 文章标题 -->
										<div class="entry-header">
											<h4 class="entry-title">
												<a :href="'/article/?aid=' + art.id"><% art.title %></a>
											</h4>
										</div>
										<!-- 文章的基本信息 -->
										<div class="entry-meta">
											<span><i class="icofont-user-alt-3"></i><% art.author %></span>
											<span><i class="icofont-ui-calendar"></i><% art.create_time %></span>
											<!-- 双层嵌套循环 -->
											<span v-for="tag in art.tags">
												<i class="icofont-tag"></i>
												<% tag %>
											</span>
										</div>
										<!-- 文章摘要 -->
										<div class="entry-content">
											<p><% art.abstract %></p>
										</div>
									</div>

									<!-- 分页 -->
									<div class="blog-pagination text-center"
										 style="width: 100px;margin: 0 auto 40px; ">
										<!-- 如果总页数超过2页, 则显示分页数字, 否则不显示分页按钮 -->
										<ul class="pagination" v-if="total_page_array.length > 1">
											<!-- 向左翻页, 如果已经是第一页则不显示<<符号 -->
											<li class="page-item" v-if="article_list.links.previous">
												<!-- 使用管道获取出正确的url -->
												<a :href="article_list.links.previous | replace_s_to_null">
													<i class="icofont-caret-left"></i>
	{#                                                <i class="icofont-double-left"></i>#}
												</a>
											</li>
											<!-- 循环显示页码 -->
											<li class="page-item" v-for="page in paginate_list.tp_arr">
												<!-- 判断当前页是否与用户点击的页数一致, 一致则往当前的class标签中再添加active属性 -->
												<a class="page-link"
													:class="page == article_list.current_page ? 'active' : ''"
													:href="format_page_num(article_list.results[0].category_id, page, article_list.size)">
													<% page %>
												</a>
											</li>
											<!-- 向右翻页, 如果已经是第一页则不显示>>符号 -->
											<li class="page-item" v-if="article_list.links.next">
												<!-- 使用管道获取出正确的url -->
												<a :href="article_list.links.next | replace_s_to_null">
													<i class="icofont-caret-right"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-5 col-md-3">
								<!-- 在当前分类下的搜索功能: 提供搜索文章标题的功能 -->
								<aside id="secondary" class="widget-area">
									<h4 class="widget-title">搜索文章标题</h4>
									<div class="widget widget-search">
										<form method="get" action="/search/">
											<div class="search-form">
												<!-- input标签中的name属性值,会在form表单提交时自动带上输入框中的值 -->
												<input class="search-field" placeholder="Search..." name="text" type="text">
												<button type="submit"><i class="icofont-search"></i></button>
											</div>
										</form>
									</div>

									<!-- 标签分类跳转链接 -->
									<div class="widget widget-tags">
										<h4 class="widget-title">标签云</h4>
										<!-- v-for循环中使用下标index -->
										<ul class="tags-cloud-list" v-for="(ct,index) in category_tag">
											<!-- 自定义添加一个标签,因为每次下标都会循环加1,因此指定一个index,
											该标签只会执行一次, 配合v-if从而达到在循环中显示一次标签的效果! -->
											<li v-if="index == 0"><a :href="'/article_list/?cid=' + article_list.results[0].category_id" style="background-color:#01a0b5;">ALL</a></li>
											<li><a :href="'/tag/?cid=' + article_list.results[0].category_id + '&tid=' + ct.tag_id"><% ct.tag %></a></li>
										</ul>
									</div>

									<!-- 最新文章	 -->
									<div class="widget widget-archives">
										<h4 class="widget-title">最新文章</h4>
										<ul>
											<li v-for="article in lastest_article">
												<a :href="'/article/?aid=' + article.id">
													<i class="icofont-double-right"></i>
													<% article.title %>
												</a>
											</li>
										</ul>
									</div>

								</aside>
								<!-- End Widget Area -->
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- 底部 -->
			<footer class="footer-area">
					<!-- 版权 -->
					<div class="copyright-area">
						<div class="container">
							<div class="row">
								<div class="col">
									<p>
										© 2018 <a href="/">JinQuanLin.</a> All Right Reserved
										<a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action">
											<img src="/static_files/img/beianbgs.png" alt="beianbgs" style="width: 14px; height: 16px;">
											粤ICP备18104884-2号
										</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</footer>

		</div>

        <!-- 加载js -->
        <!-- own -->
		<script src="/static_files/js/host.js"></script>
        <script src="/static_files/js/article_list.js"></script>
    </body>
</html>
