<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>身份验证</title>
    <!-- js加载 -->
    <script src="/static_files/js/js_file/vue-2.5.16.js"></script>
    <script src="/static_files/js/js_file/axios-0.18.0.min.js"></script>

</head>
<body>
    <div id="app">
        <div>身份验证成功, 正在跳转...</div>
    </div>
    <script src="/static_files/js/host.js"></script>
    <script src="/static_files/js/oauth_callback.js"></script>
</body>
</html>
